<div class="row">
  <div class="col-sn-8 col-sn-offset-2">
    <h2>Enregistrer un nouveau livre</h2>
    <form [formGroup]="bookForm" (ngSubmit)="onSaVeBook()">
      <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" id="title" class="form-control" formControlName="title">
      </div>
      <div class="form-group">
        <label for="author">Auteur</label>
        <input type="text" id="author" class="form-control" formControlName="author">
      </div>
      <button class="btn btn-success" type="submit" [disabled]="bookForm.invalid">Entregistrer</button>
    </form>
  </div>
</div>
